/* font */
@font-face {
  font-family: 'Ownglyph';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* section 부분 */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* section 메뉴크기 1:1 비율 */
section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

section ul li a {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px 0px 10px 10px;
  min-height: 50px;
  max-height: 200px;
  width: 20vw;
  aspect-ratio: 1/1;

  font-family: 'Ownglyph';
  font-size: clamp(16px, 3vw, 32px);
  /* 최소값, 중간값, 최대값 */

  text-decoration: none;
  color: inherit;
}


section ul li:nth-child(odd) {
  margin-right: 15px;
  margin-top: 30px;
}

section ul li:nth-child(even) {
  margin-left: 15px;
  margin-top: 30px;
}

section ul li:nth-child(1) a {
  background-color: #606C38;
}

section ul li:nth-child(2) a {
  background-color: #283618;
}

section ul li:nth-child(3) a {
  background-color: #FEFAE0;
}

section ul li:nth-child(4) a {
  background-color: #DDA15E;
}

section ul li:nth-child(5) a {
  background-color: #153666;
}


/* 막힌부분 */
section ul li:nth-child(1) a:hover,
section ul li:nth-child(2) a:hover,
section ul li:nth-child(3) a:hover,
section ul li:nth-child(4) a:hover,
section ul li:nth-child(5) a:hover {
  background-color: rgba(0, 0, 0, 0.1)
  
}



  /* ------------- */